<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments">
  <environment type="development" name="Development" id="C90441F1-FA84-4133-93B1-FE055BA01F75">http://dev.local/</environment>
  <environment type="staging" name="Staging" id="D293C6F6-8483-441F-8A79-45C92C7CFB5E">http://staging.local/</environment>
  <environment type="live" name="Live" id="7FC47519-259C-4C17-B5F4-8BF88122B20D">http://live.local/</environment>
</environments>
